bin/
obj/
artifacts/
build-*/
.vs/
.codegraph/
*.user
*.suo
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.log
*.tlog/
*.recipe
*.iobj
*.ipdb
*.lastbuildstate
Thumbs.db
desktop.ini

# Vendored files outside the compiled dependency surface.
trainer/third_party/imgui/.github/
trainer/third_party/imgui/docs/
trainer/third_party/imgui/examples/
trainer/third_party/imgui/misc/
trainer/third_party/imgui/backends/sdlgpu3/
trainer/third_party/imgui/backends/vulkan/
trainer/third_party/imgui/backends/*
!trainer/third_party/imgui/backends/imgui_impl_opengl3.cpp
!trainer/third_party/imgui/backends/imgui_impl_opengl3.h
!trainer/third_party/imgui/backends/imgui_impl_opengl3_loader.h
!trainer/third_party/imgui/backends/imgui_impl_win32.cpp
!trainer/third_party/imgui/backends/imgui_impl_win32.h
trainer/third_party/imgui/imgui_demo.cpp
trainer/third_party/imgui/.editorconfig
trainer/third_party/imgui/.gitattributes
trainer/third_party/imgui/.gitignore
trainer/third_party/minhook/.github/
trainer/third_party/minhook/build/
trainer/third_party/minhook/cmake/
trainer/third_party/minhook/dll_resources/
trainer/third_party/minhook/.editorconfig
trainer/third_party/minhook/.gitignore
trainer/third_party/minhook/CMakeLists.txt
